		{@PROJ_UUID@}.Debug|x64.ActiveCfg = Debug|x64
		{@PROJ_UUID@}.Debug|x64.Build.0 = Debug|x64
		{@PROJ_UUID@}.Debug|x86.ActiveCfg = Debug|Win32
		{@PROJ_UUID@}.Debug|x86.Build.0 = Debug|Win32
		{@PROJ_UUID@}.Release|x64.ActiveCfg = Release|x64
		{@PROJ_UUID@}.Release|x64.Build.0 = Release|x64
		{@PROJ_UUID@}.Release|x86.ActiveCfg = Release|Win32
		{@PROJ_UUID@}.Release|x86.Build.0 = Release|Win32